<div class="center jumbotron">
  <h1>Welcome to proyecto cero</h1>

  <h2>
    This is the home page for the proyecto cero Ruby on Rails</a>
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>
